@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <div class="col-md-4">
            <button id="btnMostrarModalAgregar" class="btn btn-primary btn-md float-start">
                <i class="fas fa-plus"></i> Agregar
            </button>

        </div>
    </div>
    <div class="row">
        <table id="tablaTareas" class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Título</th>
                    <th>Fecha Asignación</th>
                    <th>Fecha Vencimiento</th>
                    <th>Estatus</th>
                    <th>Opciones</th>
                </tr>
            </thead>
        </table>
    </div>
</main>

